.content
  %button.punch#generate-random-sub
  %h4.caption
    Built with
    %a{href: "http://apify.heroku.com/resources/4fd8c562da2dcf0001000047", target: '_blank'}
      APIfy.
    Fork on 
    %a{href: "https://github.com/apifyapps/sudomakemeasub", target: '_blank'}
      Github
  .clear
  .sub_contents
    .row
      .span4.random_sub
        .thumbnail
          %img{src: ''}
          .caption
            %h5
              Sub
            %p
              .label
      .span2.random_bread
        .thumbnail
          %img{src: ''}
          .caption
            %h5
              Bread
            %p
              .label
      .span2.random_cheese
        .thumbnail
          %img{src: ''}
          .caption
            %h5
              Cheese
            %p
              .label
    .row.ingredients_row
    .row.sauces_row
    .random_ingredient_template{style: 'display:none'}
      .thumbnail
        %img{src: '', onError: "setDefaultImage(this);"}
        .caption
          %h5
            Veggie
          %p
            .label
    .random_sauce_template{style: 'display:none'}
      .thumbnail
        %img{src: '', onError: "setDefaultImage(this);"}
        .caption
          %h5
            Sauce
          %p
            .label
